<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EPT.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EPT.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--======================================================
      === http://nlog-project.org/wiki/Configuration_file ==
      ======================================================-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="trace" xsi:type="Trace" />
      <target name="asyncFile" xsi:type="AsyncWrapper">
        <target name="file" xsi:type="File" layout="${longdate} ${level:uppercase=true} ${threadid} ${logger} ${message} ${exception:format=ToString:separator=*}" fileName="${specialfolder:dir=EPT.Logging:folder=MyDocuments}\EPT.Shell.txt" archiveFileName="${specialfolder:dir=EPT.Logging:folder=MyDocuments}\EPT.Shell.{#####}.txt" archiveAboveSize="104857600" archiveNumbering="Rolling" maxArchiveFiles="10" concurrentWrites="true" keepFileOpen="true" encoding="utf-8" />
      </target>
      <target name="eventLog" xsi:type="EventLog" layout="${longdate} ${level:uppercase=true} ${threadid} ${logger} ${message} ${exception:format=ToString:separator=*}" machineName="." source="EPT.Shell" log="Application" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="asyncFile" />
      <logger name="*" writeTo="trace" />
      <logger name="*" minlevel="Error" writeTo="eventLog" />
    </rules>
  </nlog>
  <applicationSettings>
    <EPT.Shell.Properties.Settings>
      <setting name="ModuleSearchPattern" serializeAs="String">
        <value>EPT.Modules.*.dll</value>
      </setting>
    </EPT.Shell.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JONNY-ANIMOTO\SQLEXPRESS;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <EPT.Shell.Properties.Settings>
      <setting name="ModuleBaseDir" serializeAs="String">
        <value>..\Modules\</value>
      </setting>
      <setting name="GuiZoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultSettingsMargin" serializeAs="String">
        <value>0,10,0,0</value>
      </setting>
    </EPT.Shell.Properties.Settings>
  </userSettings>
</configuration>